.home-featured-list {
    margin: 12px;
    display: flex;
    flex-direction: column;
    gap: 22px; 
}

.home-featured-list > * {
    padding: 12px 0;
}

.home-featured-list a {
    text-decoration: none;
    color: inherit;
}

.home-featured-list img {
    max-width: 100%;
    height: auto;
    display: block;
}

.home-featured-list h2 {
    font-size: 1.5em;
    margin-top: 8px;
}

.home-featured-list p {
    margin-top: 8px;
}

h2{
    margin: 12px;
}